/* body */
body {
    animation: body-animation 1s;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

@keyframes body-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* background */
.bg-gold {
    background: gold;
}

.bg-white {
    background: white;
}

/* container */
.container-fluid {
    display: flex;
    justify-content: center;
    background: white;
    border-radius: 15px;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 100%;
    padding-left: 2%;
    padding-right: 2%;
}

/* scale-animation */
.scale-animation {
    animation: scale-animation 1s;
}

@keyframes scale-animation {
    0% {
        scale: 0;
    }
    100% {
        scale: 1;
    }
}

.nav__link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    transition: color 0.2s linear;
    font-family: Gill Sans, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
}

.nav__link:hover {
    color: gold;
}

/* logo */
.logo {
    margin-left: 5%;
    width: 75%;
    animation: logo-animation 1s;
}

@keyframes logo-animation {
    0% {
        width: 30%;
        margin-left: 10%;
    }
    100% {
        margin-left: 5%;
    }
}

/* content */
.content {
    border-top-color: gold;
    width: 100%;
    margin: 10px 10px 10px 5px;
    padding-top: 10px;
}

/* card */
.card-group {
    display: flex;
    width: 100%;
}

.card {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

/* input */
.input__text {
    font-style: italic;
}

/* table */
.mytable {
    overflow-x: auto;
    overflow-y: hidden;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

/* footer */
footer {
    font-family: Arial, serif;
    color: white;
    border-style: solid;
    background: darkgoldenrod;
    padding-top: 2%;
    padding-left: 5%;
}

.footer__container__link {
    padding-top: 10px;
    margin-left: 20px;
}

.footer__link {
    color: white;
    text-decoration: none;
}

.footer__link:hover {
    color: yellow;
}

.title {
    font-size: 120%;
}

/* contacts */
.contacts {
    font-style: italic;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.contacts__link {
    color: gold;
}

.contacts__link:hover {
    color: yellow;
    transition: 0.2s;
}

/* form */
.form {
    border-style: solid;
    border-color: gold;
    border-radius: 15px;
}

.form-submit {
    background: gold !important;
}

/* news */
.opacity-animation {
    opacity: 0.9;
    transition: 0.5s;
}

.opacity-animation:hover {
    opacity: 1;
    scale: 0.95;
}

/* icon-animation */
.icon-animation {
    cursor: pointer;
    transition: .5s;
}

.icon-animation:hover {
    color: gold;
}

/* additionally */
.minvh-10 {
    min-height: 10vh;
}

.minvh-70 {
    min-height: 70vh;
}

.minvh-80 {
    min-height: 80vh;
}

.minvh-120 {
    min-height: 120vh;
}

.gold {
    color: gold;
}

/* error */
.form-error {
    color: red;
}

/* align */
.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

/* width */
.w-50 {
    width: 50% !important;
}

.w-75 {
    width: 75% !important;
}

.w-90 {
    width: 90% !important;
}

.w-100 {
    width: 100% !important;
}

.mw-50 {
    max-width: 50%;
}

.mw-100 {
    max-width: 100%;
}

/* height */
.h-100 {
    height: 100% !important;
}

.mh-100vh {
    max-height: 100vh;
}

/* text */
.text-center {
    text-align: center;
}

.clickable {
    cursor: pointer;
}

.mt-3 {
    margin-top: 3%;
}

